/*    */
.container{
  background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
weight: 100vw;
display: flex;
align-items: center;
justify-content: center;
}

td{
  border:dashed 1px;
}
.content{
  background-color: white;
  height: 500px;
  width: 900px;
box-shadow: 0px 0px 30px 9px blue, 0px 0px 20px 9px violet; /* horizontal, vertical, desenfoque, amplitud, color*/
border-radius: 8px;
position: relative;
padding: 1.8em;
}
.actions{
  position: absolute;
  top:1em;
  right: 2em;
}
.close{
  height: 40px;
  width: 40px;
  color: red;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 1px 2px 3px  red;
display: inline-block;
cursor: pointer;
display: flex;
align-items:  center;
justify-content: center;
}
.tabl{
width: 100%;
border-spacing: 0;
font-family: 'Aladin', cursive;
}
.tabl tr:nth-child(even){background-color: #02355486;}
.tabl td, table th{
  padding: 1em;
  text-align: center;
}
p{
  line-height: 3em;
  font-weight: 300;
}
.fa-fort-awesome{color: #956302;}


a{text-decoration: none}
.title{
text-transform: uppercase;
color: blue;
text-align: center;}
}



.titles{
  /*border-bottom-style: dashed;
  border-width: 5px;
  border-color: pink;*/
  border-bottom: dashed 2px red;
  padding-bottom: 1em;
font-size: 2em;
}
.pos{
  background-color: red;
  color:white;
  padding: 0.5em;
  border-radius:.3em;
  margin-right:0.5em;
}
a:active{
  background: red;
}
a:hover{
  opacity: .8;
}
.addres{
font-weight: bold;
color: grey;
font-size: 1.2em;
}
.main-image{
  float:left;
  margin-right: 1em;
  height:250px;
}
